
@import url('https://fonts.googleapis.com/css2?family=Economica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

.main-div {
    background-color: #fffaf5;
    font-family: Economica
}

Button {
    background-color: #cca677;
    font-family: Source Sans Pro;
}




/* Nav Bar */

nav {
    background-color: #396043
}



a {
    font-family: Economica;
    text-decoration: none;
    color: #cca677
}

 a:hover {
    text-decoration: underline;
    color: #E1C099  
}

/* Menus */

h2 {
    size: 20px;
    color: #352e34;
    text-align: center;
}


.menu-container {
  background: #fdf3fd; 
  padding: 40px;
  width: 300px;
}

.menu-button {
    background-color: #fdf3fd;
    display: block;
    margin: 0 auto; 
    outline: #cca677;
}




/* Header */



.header h1 {
    font-family: Economica;
    color: #396043
}

.header h3 {
    font-family: Parisienne;
    color: #cca677
}

.header-container {
    padding: 40px;
    text-align: center;
}

/* Entry forms */

.entry-heading {
    font-family: Economica;
    color: #396043

}

.entry-container{
    background-color: #fffaf5;
    text-align: center;
    position: relative
}

.entry-form{
    display: block;
    margin: 0 auto; 
    background-color: #fffaf5;
}

.entry-field{
    height: 100px;
    width: 300px;
}

.entry-field-sm{
    height: 30px;
    width: 300px;
}

/* Habit display */

.display-container{
    background-color: #fffaf5;
    text-align: center;
    position: relative
}

.exercise-display {
    background-color: #fffaf5;
    text-align: center;
    position: relative
}

.gratitude-display {
    background-color: #fffaf5;
    text-align: center;
    position: relative
}

.reading-display {
    background-color: #fffaf5;
    text-align: center;
    position: relative
}

.card {
    background-color: #fffaf5;
    text-align: center;
    position: relative;
    border-color: #396043;
    padding: 20px;
    margin: 20px
}

.title{
    font-family: Economica;
    color: #396043;
    font-size: 35px
}

.sub-title {
    font-family: Source Sans Pro;
    color: #000000;
    font-size: 25px
}

.date {
    font-family: Source Sans Pro;
    color: #000000;
    font-size: 20px;
}


/* Footer */
.footer p {
    size: 20px;
    color: #396043
}


.footer-container {
  text-align: center;
  float: center;
  padding: 50px
}