.jumbotron h1 {
    color: #120f72;
}

.jumbotron h3 {
    color: #ca0000;
}

.login-container {
    background: #c4bdc3; 
    padding: 40px;
    width: 300px;
   
  }

  .login-form {
    display: block;
    margin: 0 auto; 
  }