nav {
    background-color: rgb(248, 223, 0)
}

a {
    text-decoration: none;
    color: rgb(218, 80, 17)
}
 a:hover {
    text-decoration: underline;
    color: rgb(156, 154, 154)
}

.navbar-brand {
    font-size: 35px;
}

.nav-item {
    font-size: 25px;
}